@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --font-texto: "Libre Baskerville";
    --font-titulo: "Cinzel Decorative", serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100vw;
    background-color: transparent;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

ul li {
    list-style: none;
    display: flex;
}

svg {
    margin-left: 30px;
    width: 55%;
    color: white;
}